.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

@each $number, $space in $spacing {
  .mt-#{$number} {
    margin-top: $space;
  }

  .mb-#{$number} {
    margin-bottom: $space;
  }

  .ml-#{$number} {
    margin-left: $space;
  }

  .mr-#{$number} {
    margin-right: $space;
  }

  .my-#{$number} {
    margin-top: $space;
    margin-bottom: $space;
  }

  .mx-#{$number} {
    margin-left: $space;
    margin-right: $space;
  }
}

@each $size, $width in $grid {
  @include min-width($size) {
    @each $number, $space in $spacing {
      .mt-#{$size}-#{$number} {
        margin-top: $space;
      }

      .mb-#{$size}-#{$number} {
        margin-bottom: $space;
      }

      .ml-#{$size}-#{$number} {
        margin-left: $space;
      }

      .mr-#{$size}-#{$number} {
        margin-right: $space;
      }

      .my-#{$size}-#{$number} {
        margin-top: $space;
        margin-bottom: $space;
      }

      .mx-#{$size}-#{$number} {
        margin-left: $space;
        margin-right: $space;
      }
    }
  }
}

@each $number, $space in $spacing {
  .pt-#{$number} {
    padding-top: $space;
  }

  .pb-#{$number} {
    padding-bottom: $space;
  }

  .pl-#{$number} {
    padding-left: $space;
  }

  .pr-#{$number} {
    padding-right: $space;
  }

  .py-#{$number} {
    padding-top: $space;
    padding-bottom: $space;
  }

  .px-#{$number} {
    padding-left: $space;
    padding-right: $space;
  }
}

@each $size, $width in $grid {
  @include min-width($size) {
    @each $number, $space in $spacing {
      .pt-#{$size}-#{$number} {
        padding-top: $space;
      }

      .pb-#{$size}-#{$number} {
        padding-bottom: $space;
      }

      .pl-#{$size}-#{$number} {
        padding-left: $space;
      }

      .pr-#{$size}-#{$number} {
        padding-right: $space;
      }

      .py-#{$size}-#{$number} {
        padding-top: $space;
        padding-bottom: $space;
      }

      .px-#{$size}-#{$number} {
        padding-left: $space;
        padding-right: $space;
      }
    }
  }
}
