/// Heading
%text-heading {
  font-family: $font-family-secondary;
  font-weight: $font-weight-semibold;
  color: $text-dark-color;
}

@each $number, $font-size in $font-size-heading {
  .text-heading-#{$number} {
    @extend %text-heading;

    font-size: $font-size;
  }
}

// Text
.text-small {
  font-size: $font-size-small;
}

.text-script {
  font-size: $font-size-script;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

/// Text color
.text-white {
  color: $white;
}

.text-light {
  color: $text-light-color;
}

.text-dark {
  color: $text-dark-color;
}

@each $name, $color in $colors {
  .text-#{"" + $name} {
    color: map-get($color, 60);
  }
}
