/// FUNCTIONS
@function container-width($size) {
    @return map-get($grid, $size);
}

@function container-padding($size) {
    @return calc(50% - #{container-width($size) / 2});
}

@function column-width($number, $size: null) {
    @if $size {
        @return ($number / 12) * container-width($size);
    } @else {
        @return percentage($number / 12);
    }
}

/// MIXINS
@mixin retina() {
    @media (min-resolution: 2dppx), (min-resolution: 192dpi) {
        @content;
    }
}

@mixin min-width($size) {
    @media (min-width: container-width($size)) {
        @content;
    }
}

@mixin max-width($size) {
    @media (max-width: container-width($size) - 1px) {
        @content;
    }
}

@mixin container() {
    @each $size, $width in $grid {
        @include min-width($size) {
            padding-left: container-padding($size);
            padding-right: container-padding($size);
        }
    }
}

@mixin column($number, $size: null) {
    flex: 0 0 column-width($number, $size);
    max-width: column-width($number, $size);
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: $grid-gap;
    padding-right: $grid-gap;

    @each $size, $width in $grid {
        @include min-width($size) {
            width: $width;
        }
    }

    &.fluid {
        width: auto;
    }
}

.columns {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$grid-gap;
    margin-right: -$grid-gap;
}

%column {
    position: relative;
    padding-left: $grid-gap;
    padding-right: $grid-gap;
}

.column {
    @extend %column;

    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

@each $size, $width in $grid {
    .column-#{$size} {
        @extend %column;
    }

    @include min-width($size) {
        .column-#{$size} {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
        }
    }
}

@for $i from 1 through 12 {
    .column-#{$i} {
        @extend %column;
        @include column($i);
    }
}

@each $size, $width in $grid {
    @for $i from 1 through 12 {
        .column-#{$size}-#{$i} {
            @extend %column;
        }
    }

    @include min-width($size) {
        @for $i from 1 through 12 {
            .column-#{$size}-#{$i} {
                @include column($i);
            }
        }
    }
}
