/// Badge
/// @todo add dynamic font-size and padding (not rem)
$badge-font-family: false !default;
$badge-font-weight: $font-weight-normal !default;
$badge-font-size: 0.875rem !default;
$badge-line-height: 1.5rem !default;

$badge-color: $grey-900 !default;
$badge-solid-color: $white !default;

$badge-background-color: $grey-200 !default;

$badge-border-width: 1px !default;
$badge-border-color: $grey-400 !default;
$badge-border-radius: 2rem !default;

$badge-padding-y: 0.5rem !default;
$badge-padding-x: 1.25rem !default;
$badge-padding-y-small: 0.25rem !default;
$badge-padding-x-small: 1rem !default;
$badge-padding-y-large: 0.75rem !default;
$badge-padding-x-large: 1.5rem !default;

$badge-icon-offset: 0.5rem !default;
$badge-icon-offset-small: 0.25rem !default;
$badge-icon-offset-large: 0.75rem !default;

$badge-custom-colors: (
    badge-light: $grey-900
) !default;

.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: calc(#{$badge-padding-y} - #{$badge-border-width}) calc(#{$badge-padding-x} - #{$badge-border-width});
    text-align: center;
    @if $badge-font-family {
        font-family: $badge-font-family;
    }
    font-weight: $badge-font-weight;
    font-size: $badge-font-size;
    line-height: $badge-line-height;
    color: $badge-color;
    background-color: $badge-background-color;
    border: $badge-border-width solid $badge-border-color;
    border-radius: $badge-border-radius;

    .icon:first-child {
        margin-right: $badge-icon-offset;
    }

    .icon:last-child {
        margin-left: $badge-icon-offset;
    }
}

.badge-small {
    padding: calc(#{$badge-padding-y-small} - #{$badge-border-width}) calc(#{$badge-padding-x-small} - #{$badge-border-width});

    .icon:first-child {
        margin-right: $badge-icon-offset-small;
    }

    .icon:last-child {
        margin-left: $badge-icon-offset-small;
    }
}

.badge-large {
    padding: calc(#{$badge-padding-y-large} - #{$badge-border-width}) calc(#{$badge-padding-x-large} - #{$badge-border-width});

    .icon:first-child {
        margin-right: $badge-icon-offset-large;
    }

    .icon:last-child {
        margin-left: $badge-icon-offset-large;
    }
}

@each $name, $color in $colors {
    .badge-#{$name} {
        @if map-get($badge-custom-colors, badge-#{$name}) {
            color: map-get($badge-custom-colors, badge-#{$name});
        } @else {
            color: $badge-solid-color;
        }
        background-color: map-get($color, $name);
        border-color: map-get($color, shade);
    }
}
