/// Button
@mixin button() {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 22px;
  text-align: center;
  font-weight: $font-weight-medium;
  color: $text-dark-color;
  background-color: $grey-20;
  border: 2px solid $grey-20;
  border-radius: $border-radius;
  cursor: pointer;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: $transition-duration;

  &:hover {
    text-decoration: none;
    background-color: $grey-10;
    border-color: $grey-10;
  }

  &:active {
    background-color: $grey-30;
    border-color: $grey-30;
  }

  &:focus:not(:hover):not(:active) {
    box-shadow: 0 0 0 4px rgba($grey-80, 0.32);
  }

  &.disabled,
  &[disabled] {
    color: $text-light-color !important;
    background-color: $grey-30 !important;
    border-color: $grey-30 !important;
    box-shadow: none !important;
    pointer-events: none;
  }

  .icon:first-child {
    margin-right: 12px;
  }

  .icon:last-child {
    margin-left: 12px;
  }
}

@mixin button-small() {
  font-size: $font-size-small;
  padding: 7px 14px;

  .icon:first-child {
    margin-right: 8px;
  }

  .icon:last-child {
    margin-left: 8px;
  }
}

@mixin button-normal() {
  font-size: $font-size;
  padding: 10px 22px;

  .icon:first-child {
    margin-right: 12px;
  }

  .icon:last-child {
    margin-left: 12px;
  }
}

@mixin button-large() {
  padding: 14px 30px;

  .icon:first-child {
    margin-right: 16px;
  }

  .icon:last-child {
    margin-left: 16px;
  }
}

@mixin button-full() {
  flex: 0 0 100%;
  width: 100%;
}

/// Button progress
@mixin button-progress() {
  position: relative;
  visibility: hidden;
  pointer-events: none;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    visibility: visible;
  }

  &::before {
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background-color: $white;
    border: 1px solid $white;
    border-radius: $border-radius;
  }

  &::after {
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-left: -8px;
    border: 2px solid $grey-100;
    border-top-color: rgba($grey-100, 0.4);
    border-right-color: rgba($grey-100, 0.4);
    border-radius: 50%;
    animation: spin 0.7s linear infinite;
  }
}

.button {
  @include button();

  &.small {
    @include button-small();
  }

  &.large {
    @include button-large();
  }

  &.full {
    @include button-full();
  }

  &.progress {
    @include button-progress();
  }
}

/// Button icon
@mixin button-icon() {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  text-align: center;
  font-weight: $font-weight-medium;
  line-height: 0;
  color: $text-dark-color;
  background-color: $grey-20;
  border: 2px solid $grey-20;
  border-radius: $border-radius;
  cursor: pointer;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: $transition-duration;

  &:hover {
    background-color: $grey-10;
    border-color: $grey-10;
  }

  &:active {
    background-color: $grey-30;
    border-color: $grey-30;
  }

  &:focus:not(:hover):not(:active) {
    box-shadow: 0 0 0 4px rgba($grey-80, 0.32);
  }

  &.disabled,
  &[disabled] {
    color: $text-light-color !important;
    background-color: $grey-30 !important;
    border-color: $grey-30 !important;
    box-shadow: none !important;
    pointer-events: none;
  }
}

.button-icon {
  @include button-icon();
}

/// Button solid
@mixin button-solid($name) {
  $color: map-get($colors, $name);

  color: $white;
  background-color: map-get($color, 60);
  border-color: map-get($color, 60);

  &:hover {
    background-color: map-get($color, 50);
    border-color: map-get($color, 50);
  }

  &:active {
    background-color: map-get($color, 70);
    border-color: map-get($color, 70);
  }

  &:focus:not(:hover):not(:active) {
    box-shadow: 0 0 0 4px rgba(map-get($color, 60), 0.32);
  }

  &.progress::before {
    background-color: map-get($color, 60);
    border-color: map-get($color, 60);
  }

  &.progress::after {
    border-color: $white;
    border-top-color: rgba($white, 0.4);
    border-right-color: rgba($white, 0.4);
  }
}

@each $name, $color in $colors {
  .button-solid-#{"" + $name} {
    @include button-solid($name);
  }
}

/// Button outline
@mixin button-outline($name) {
  $color: map-get($colors, $name);

  color: map-get($color, 60);
  background-color: transparent;
  border-color: map-get($color, 60);

  &:hover {
    background-color: map-get($color, 10);
    border-color: map-get($color, 50);
  }

  &:active {
    color: map-get($color, 70);
    background-color: map-get($color, 20);
    border-color: map-get($color, 70);
  }

  &:focus:not(:hover):not(:active) {
    box-shadow: 0 0 0 4px rgba(map-get($color, 60), 0.32);
  }

  &.progress::before {
    background-color: transparent;
    border-color: map-get($color, 60);
  }

  &.progress::after {
    border-color: map-get($color, 60);
    border-top-color: rgba(map-get($color, 60), 0.4);
    border-right-color: rgba(map-get($color, 60), 0.4);
  }
}

@each $name, $color in $colors {
  .button-outline-#{"" + $name} {
    @include button-outline($name);
  }
}
