/// Button
/// @todo add dynamic font-size and padding (not px)
/// @todo add disabled status
$button-font-family: false !default;
$button-font-weight: $font-weight-medium !default;
$button-font-size: $font-size !default;
$button-line-height: 24px !default;

$button-color: $text-color !default;
$button-color-hover: $white !default;

$button-background-color: $white !default;
$button-background-color-hover: $grey-400 !default;
$button-background-color-active: $grey-500 !default;

$button-border-width: 2px !default;
$button-border-color: $grey-400 !default;
$button-border-radius: $border-radius !default;

$button-padding-y: 12px !default;
$button-padding-x: 24px !default;
$button-padding-y-small: 8px !default;
$button-padding-x-small: 16px !default;
$button-padding-y-large: 16px !default;
$button-padding-x-large: 32px !default;

$button-icon-offset: 12px !default;
$button-icon-offset-small: 8px !default;
$button-icon-offset-large: 16px !default;

$button-shadow-active: 0 0 2px 2px rgba($grey, 0.32) !default;

$button-custom-colors: (
    button-solid-light: $grey-900,
    button-solid-light-hover: $grey-900,
    button-outline-light: $grey-900,
    button-outline-light-hover: $grey-900,
    button-action-light: $grey-500
) !default;

@mixin button() {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: calc(#{$button-padding-y} - #{$button-border-width}) calc(#{$button-padding-x} - #{$button-border-width});
    text-align: center;
    @if $button-font-family {
        font-family: $button-font-family;
    }
    font-weight: $button-font-weight;
    font-size: $button-font-size;
    line-height: $button-line-height;
    color: $button-color;
    background-color: $button-background-color;
    border: $button-border-width solid $button-border-color;
    border-radius: $button-border-radius;
    cursor: pointer;
    transition-property: color, background-color, border-color, box-shadow;
    transition-duration: $transition-duration;

    &:hover {
        text-decoration: none;
        color: $button-color-hover;
        background-color: $button-background-color-hover;
        border-color: $button-background-color-hover;
    }

    &:active {
        background-color: $button-background-color-active;
        border-color: $button-background-color-active;
    }

    &:focus:not(:active) {
        box-shadow: $button-shadow-active;
    }

    .icon:first-child {
        margin-right: $button-icon-offset;
    }

    .icon:last-child {
        margin-left: $button-icon-offset;
    }
}

@mixin button-small() {
    font-size: $font-size-small;
    padding: calc(#{$button-padding-y-small} - #{$button-border-width}) calc(#{$button-padding-x-small} - #{$button-border-width});

    .icon:first-child {
        margin-right: $button-icon-offset-small;
    }

    .icon:last-child {
        margin-left: $button-icon-offset-small;
    }
}

@mixin button-large() {
    padding: calc(#{$button-padding-y-large} - #{$button-border-width}) calc(#{$button-padding-x-large} - #{$button-border-width});

    .icon:first-child {
        margin-right: $button-icon-offset-large;
    }

    .icon:last-child {
        margin-left: $button-icon-offset-large;
    }
}

@mixin button-full() {
    flex: 0 0 100%;
    width: 100%;
}

.button {
    @include button();
}

.button-small {
    @include button-small();
}

.button-large {
    @include button-large();
}

.button-full {
    @include button-full();
}

/// Button solid
$button-solid-color: $white !default;
$button-solid-color-hover: $button-solid-color !default;

@mixin button-solid($name) {
    $color: map-get($colors, $name);

    @if map-get($button-custom-colors, button-solid-#{$name}) {
        color: map-get($button-custom-colors, button-solid-#{$name});
    } @else {
        color: $button-solid-color;
    }
    background-color: map-get($color, $name);
    border-color: map-get($color, $name);

    &:hover {
        @if map-get($button-custom-colors, button-solid-#{$name}-hover) {
            color: map-get($button-custom-colors, button-solid-#{$name}-hover);
        } @else {
            color: $button-solid-color-hover;
        }
        background-color: map-get($color, shade);
        border-color: map-get($color, shade);
    }

    &:active {
        background-color: map-get($color, tint);
        border-color: map-get($color, tint);
    }
}

@each $name, $color in $colors {
    .button-solid-#{$name} {
        @include button-solid($name);
    }
}

/// Button outline
$button-outline-color-hover: $white !default;
$button-outline-background-color: transparent !default;

@mixin button-outline($name) {
    $color: map-get($colors, $name);

    @if map-get($button-custom-colors, button-outline-#{$name}) {
        color: map-get($button-custom-colors, button-outline-#{$name});
    } @else {
        color: map-get($color, $name);
    }
    background-color: $button-outline-background-color;
    border-color: map-get($color, $name);

    &:hover {
        @if map-get($button-custom-colors, button-outline-#{$name}-hover) {
            color: map-get($button-custom-colors, button-outline-#{$name}-hover);
        } @else {
            color: $button-outline-color-hover;
        }
        background-color: map-get($color, shade);
        border-color: map-get($color, shade);
    }

    &:active {
        background-color: map-get($color, tint);
        border-color: map-get($color, tint);
    }
}

@each $name, $color in $colors {
    .button-outline-#{$name} {
        @include button-outline($name);
    }
}

/// Button icon
$button-icon-color: $button-color !default;
$button-icon-padding: 12px !default;

@mixin button-icon() {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: $button-icon-padding;
    text-align: center;
    line-height: 0;
    color: $button-icon-color;
}

.button-icon {
    @include button-icon();
}
