/// Link
@mixin link() {
  transition-property: color, background-color, box-shadow;
  transition-duration: $transition-duration;

  &:hover,
  &:focus {
    color: $white;
    background-color: $grey-60;
  }

  &:active {
    background-color: $grey-80;
  }

  &:focus:not(:active) {
    box-shadow: 0 0 0 4px rgba($grey-40, 0.32);
  }

  &.disabled,
  &[disabled] {
    color: $text-light-color !important;
    background: none !important;
    box-shadow: none !important;
    pointer-events: none;
  }
}

.link {
  @include link();
}

/// Link button
@mixin link-button() {
  @include link();

  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .icon:first-child {
    margin-right: 8px;
  }

  .icon:last-child {
    margin-left: 8px;
  }
}

.link-button {
  @include link-button();
}

/// Link color
@mixin link-color($name) {
  $color: map-get($colors, $name);

  color: map-get($color, 60);

  &:hover,
  &:focus {
    color: $white;
    background-color: map-get($color, 60);
  }

  &:active {
    background-color: map-get($color, 80);
  }

  &:focus:not(:active) {
    box-shadow: 0 0 0 4px rgba(map-get($color, 40), 0.56);
  }
}

@each $name, $color in $colors {
  .link-#{"" + $name} {
    @include link-color($name);
  }
}
