/// Scroll
@mixin scroll-vertical() {
  overflow-x: hidden;
  overflow-y: auto;
}

@mixin scroll-horizontal() {
  overflow-x: auto;
  overflow-y: hidden;
}

.scroll-vertical {
  @include scroll-vertical();
}

.scroll-horizontal {
  @include scroll-horizontal();
}
