/// Form field
.form-field {
  position: relative;
}

.form-field-check {
  display: flex;
  flex-direction: column;
  margin: -4px -8px;

  &.inline {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
