/// Form check
$form-check-mark-size: 24px !default;

$form-check-color-hover: $secondary-50 !default;
$form-check-color-checked: $secondary-60 !default;
$form-check-color-error: $danger-60 !default;
$form-check-color-disabled: $grey-40 !default;

.form-check {
  display: flex;
  align-items: flex-start;
  position: relative;

  .form-field.disabled & {
    pointer-events: none;
  }

  .form-field-check & {
    margin: 4px 8px;
  }
}

.form-check-input {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: $form-check-mark-size;
  height: $form-check-mark-size;
  opacity: 0;
  cursor: pointer;
}

.form-check-mark {
  position: relative;
  width: $form-check-mark-size;
  height: $form-check-mark-size;
  margin-right: 12px;
  background-color: $white;
  border: 1px solid $grey-60;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: $transition-duration;
  pointer-events: none;

  .form-check-input[type="checkbox"] ~ & {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    color: $white;
    border-radius: 2px;
  }

  .form-check-input[type="radio"] ~ & {
    border-radius: 50%;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 10px;
      background-color: $white;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      transition-property: background-color;
      transition-duration: $transition-duration;
    }
  }

  .form-check:hover .form-check-input:not(:focus) ~ & {
    border-color: $form-check-color-hover;
  }

  .form-check:hover .form-check-input:checked:not(:focus) ~ & {
    background-color: $form-check-color-hover;
  }

  .form-field.error & {
    border-color: $form-check-color-error;
  }

  .form-check-input:checked ~ & {
    background-color: $form-check-color-checked;
    border-color: $form-check-color-checked;
  }

  .form-check-input:focus:not(:checked) ~ & {
    border-color: $grey-80;
    box-shadow: 0 0 0 4px rgba($grey-60, 0.32);
  }

  .form-check-input:focus:checked ~ & {
    box-shadow: 0 0 0 4px rgba($secondary-40, 0.56);
  }

  .form-field.disabled & {
    border-color: $form-check-color-disabled;
  }

  .form-field.disabled .form-check-input:checked ~ & {
    background-color: $form-check-color-disabled;
  }
}

/// Form check label
.form-check-label {
  display: block;
  flex: 1 0 0;
  text-align: left;
  color: $text-dark-color;

  .form-field.disabled & {
    color: $text-light-color;
  }
}
