/// Form label
$form-label-font-size: $font-size-script !default;
$form-label-color-focus: $secondary-80 !default;
$form-label-color-error: $danger-60 !default;

/// Form label floating
$form-label-floating-font-size: $font-size !default;
$form-label-floating-focus-scale: 0.75 !default;
$form-label-floating-padding-x: 6px !default;
$form-label-floating-padding-x-scaled: $form-label-floating-padding-x/$form-label-floating-focus-scale;

.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: $form-label-font-size;
  color: $text-color;
  transition-property: color;
  transition-duration: $transition-duration;

  &.floating {
    position: absolute;
    z-index: 1;
    top: 12px;
    left: calc(12px - #{$form-label-floating-padding-x-scaled});
    margin-bottom: 0;
    padding-left: $form-label-floating-padding-x-scaled;
    padding-right: $form-label-floating-padding-x-scaled;
    font-size: $form-label-floating-font-size;
    background-color: $white;
    pointer-events: none;
    transform-origin: left center;
    transition-property: color, transform;
  }

  .form-field.filled &.floating,
  .form-field.focused &.floating {
    transform: translate3d($form-label-floating-padding-x-scaled - $form-label-floating-padding-x, -24px, 0) scale($form-label-floating-focus-scale);
  }

  .form-field.focused & {
    color: $form-label-color-focus;
  }

  .form-field.error & {
    color: $form-label-color-error;
  }

  .form-field.disabled & {
    color: $text-light-color;
  }
}
