/// Form hint | Form error
.form-hints {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-hint,
.form-error {
  display: block;
  margin-top: 8px;
  font-size: $font-size-script;
}

.form-hint {
  color: $text-color;
}

.form-error {
  text-align: right;
  color: $danger-60;
}
