/// Form control
$form-control-border-color-hover: map-get($secondary, 50) !default;
$form-control-border-color-focus: map-get($secondary, 80) !default;
$form-control-border-color-error: map-get($danger, 60) !default;
$form-control-border-color-disabled: map-get($grey, 40) !default;

.form-control {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid map-get($grey, 60);
    border-radius: $border-radius;
    transition-property: border-width, border-color, box-shadow;
    transition-duration: $transition-duration;
    pointer-events: none;
  }
}

.form-field:hover .form-control::after {
  border-color: $form-control-border-color-hover;
}

.form-field.error .form-control::after {
  border-color: $form-control-border-color-error;
}

.form-field.focused .form-control::after {
  border-color: $form-control-border-color-focus;
  box-shadow: 0 0 0 4px rgba(map-get($secondary, 60), 0.32);
}

.form-field.disabled .form-control::after {
  border-style: dashed;
  border-color: $form-control-border-color-disabled;
}

.form-control-input,
.form-control-button {
  display: block;
  width: 100%;
  height: 48px;
  padding: 12px;
  text-align: left;
  color: map-get($grey, 100);
  background-color: $white;
  border-radius: $border-radius;
}

.form-control-input::placeholder {
  color: $text-color;
}

textarea.form-control-input {
  resize: none;
  height: 120px;
}

.form-field.disabled .form-control-input,
.form-field.disabled .form-control-button {
  color: map-get($grey, 60);
  pointer-events: none;
}

.form-field.disabled .form-control-input {
  -webkit-text-fill-color: map-get($grey, 60);
}

.form-control-icon {
  position: absolute;
  top: 50%;
  right: 16px;
  color: map-get($grey, 100);
  line-height: 0;
  transform: translateY(-50%);
  pointer-events: none;
}

button.form-control-icon {
  pointer-events: auto;
}

.form-control-input[type="text"] ~ .form-control-icon .icon:first-child:not(:last-child),
.form-control-input[type="password"] ~ .form-control-icon .icon:last-child:not(:first-child) {
  display: none;
}

.form-field.disabled .form-control-icon {
  color: map-get($grey, 40);
}
