/// Form control
$form-control-border-color-hover: map-get($secondary, 50) !default;
$form-control-border-color-focus: map-get($secondary, 80) !default;
$form-control-border-color-error: map-get($danger, 60) !default;
$form-control-border-color-disabled: map-get($grey, 40) !default;

.form-control {
    position: relative;

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid map-get($grey, 60);
        border-radius: $border-radius;
        transition-property: border-width, border-color, box-shadow;
        transition-duration: $transition-duration;
        pointer-events: none;
    }
}

.form-group:hover .form-control::after {
    border-color: $form-control-border-color-hover;
}

.form-group.error .form-control::after {
    border-color: $form-control-border-color-error;
}

.form-group.focused .form-control::after {
    border-color: $form-control-border-color-focus;
    box-shadow: 0 0 0 4px rgba(map-get($secondary, 60), 0.32);
}

.form-group.disabled .form-control::after {
    border-style: dashed;
    border-color: $form-control-border-color-disabled;
}

.form-control-input,
.form-control-button {
    display: block;
    width: 100%;
    height: 48px;
    padding: 12px;
    text-align: left;
    color: map-get($grey, 100);
    background-color: $white;
    border-radius: $border-radius;

    &.center {
        text-align: center;
    }
}

.form-control-input::placeholder {
    color: $text-color;
}

textarea.form-control-input {
    resize: none;
    height: 120px;
}

.form-group.small .form-control-input,
.form-group.small .form-control-button {
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.form-group.disabled .form-control-input,
.form-group.disabled .form-control-button {
    color: map-get($grey, 60);
    pointer-events: none;
}

.form-group.disabled .form-control-input {
    -webkit-text-fill-color: map-get($grey, 60);
}

.form-control-icon {
    position: absolute;
    top: 50%;
    right: 16px;
    color: map-get($grey, 100);
    transform: translateY(-50%);
    pointer-events: none;
}

.form-control-icon {
    line-height: 0;
}

button.form-control-icon {
    pointer-events: auto;
}

.form-control-input[type="text"] ~ .form-control-icon .icon:first-child:not(:last-child),
.form-control-input[type="password"] ~ .form-control-icon .icon:last-child:not(:first-child) {
    display: none;
}

.form-group.disabled .form-control-icon {
    color: map-get($grey, 40);
}
