html {
    font-size: $font-size;
    background-color: $white;
    -ms-overflow-style: scrollbar;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    text-rendering: optimizeLegibility;
}

body,
button,
input,
textarea,
select {
    font-family: $font-family-primary;
}

body {
    font-weight: $font-weight-normal;
    font-size: 1em;
    line-height: 1.5;
    color: $text-color;
}

button,
input,
textarea,
select {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button,
input::-webkit-clear-button,
input::-webkit-inner-spin-button,
input::-webkit-calendar-picker-indicator,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-decoration {
    display: none;
    appearance: none;
    margin: 0;
    padding: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

select:-moz-focusring {
    text-shadow: 0 0 0 black;
    color: transparent;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    border: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: inherit;
}

strong {
    font-weight: $font-weight-medium;
}
html {
    font-size: $font-size;
    background-color: map-get($grey, 10);
    -ms-overflow-style: scrollbar;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    text-rendering: optimizeLegibility;
}

body,
button,
input,
textarea,
select {
    font-family: $font-family-primary;
}

body {
    font-weight: $font-weight-normal;
    font-size: 1em;
    line-height: 1.5;
    color: $text-color;
}

button,
input,
textarea,
select {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button,
input::-webkit-clear-button,
input::-webkit-inner-spin-button,
input::-webkit-calendar-picker-indicator,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-decoration {
    display: none;
    appearance: none;
    margin: 0;
    padding: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

select:-moz-focusring {
    text-shadow: 0 0 0 black;
    color: transparent;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    border: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: inherit;
}

strong {
    font-weight: $font-weight-medium;
}
