/// Colors
/// @todo add info and warning color
$white: white !default;
$black: black !default;

$grey-10: #F5F7FA;
$grey-20: #EBEFF5;
$grey-30: #DDE3ED;
$grey-40: #C8D1E0;
$grey-50: #AFBACC;
$grey-60: #8E99AB;
$grey-70: #707A8A;
$grey-80: #58606E;
$grey-90: #434A54;
$grey-100: #333840;

$primary-10: #FFEFE2;
$primary-20: #FFDFC3;
$primary-30: #FFCCA0;
$primary-40: #FFB677;
$primary-50: #FF9B44;
$primary-60: #FF7900;
$primary-70: #E66B00;
$primary-80: #CA5E00;
$primary-90: #A74E00;
$primary-100: #783800;

$secondary-10: #E4F1F8;
$secondary-20: #C6E3F1;
$secondary-30: #A4D2EA;
$secondary-40: #7CBFE0;
$secondary-50: #4AA7D5;
$secondary-60: #0482C5;
$secondary-70: #0378B1;
$secondary-80: #03689B;
$secondary-90: #025680;
$secondary-100: #013D5B;

$success-10: #E3F8EA;
$success-20: #C5F1D4;
$success-30: #A3E9BA;
$success-40: #7BE09C;
$success-50: #48D477;
$success-60: #3EC543;
$success-70: #37B23D;
$success-80: #2F9C36;
$success-90: #25802C;
$success-100: #185D20;

$danger-10: #FAEAEC;
$danger-20: #F4D2D8;
$danger-30: #EEB7C0;
$danger-40: #E695A3;
$danger-50: #DC687B;
$danger-60: #C50424;
$danger-70: #B20320;
$danger-80: #9C031C;
$danger-90: #810217;
$danger-100: #5D0111;

$colors: (
  grey: (
    10: $grey-10,
    20: $grey-20,
    30: $grey-30,
    40: $grey-40,
    50: $grey-50,
    60: $grey-60,
    70: $grey-70,
    80: $grey-80,
    90: $grey-90,
    100: $grey-100
  ),
  primary: (
    10: $primary-10,
    20: $primary-20,
    30: $primary-30,
    40: $primary-40,
    50: $primary-50,
    60: $primary-60,
    70: $primary-70,
    80: $primary-80,
    90: $primary-90,
    100: $primary-100
  ),
  secondary: (
    10: $secondary-10,
    20: $secondary-20,
    30: $secondary-30,
    40: $secondary-40,
    50: $secondary-50,
    60: $secondary-60,
    70: $secondary-70,
    80: $secondary-80,
    90: $secondary-90,
    100: $secondary-100
  ),
  success: (
    10: $success-10,
    20: $success-20,
    30: $success-30,
    40: $success-40,
    50: $success-50,
    60: $success-60,
    70: $success-70,
    80: $success-80,
    90: $success-90,
    100: $success-100
  ),
  danger: (
    10: $danger-10,
    20: $danger-20,
    30: $danger-30,
    40: $danger-40,
    50: $danger-50,
    60: $danger-60,
    70: $danger-70,
    80: $danger-80,
    90: $danger-90,
    100: $danger-100
  )
) !default;

/// Shadows
$box-shadow: 0 2px 8px 0 rgba($grey-100, 0.16) !default;

/// Borders
$border-color: $grey-40 !default;
$border-radius: 4px !default;

/// Typography
$font-family-primary: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$font-family-secondary: $font-family-primary !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;

$font-size: 16px !default;
$font-size-small: 15px !default;
$font-size-script: 14px !default;

$font-size-heading: (
  1: 40px,
  2: 32px,
  3: 26px,
  4: 22px,
  5: 18px,
  6: 16px
);

$text-color: $grey-80 !default;
$text-light-color: $grey-60 !default;
$text-dark-color: $grey-100 !default;

/// Grid
$grid-gap: 16px !default;

$grid: (
  sm: 769px,
  md: 960px,
  lg: 1152px,
  xl: 1344px
) !default;

/// Spacing
$spacing: (
  1: 8px,
  2: 12px,
  3: 16px,
  4: 24px,
  5: 32px,
  6: 40px,
  7: 48px,
  8: 56px,
  9: 64px
) !default;

/// Transition
$transition-duration: 0.3s !default;
