/// Colors
/// @todo add info and warning color
$white: white !default;
$black: black !default;

$grey: #8E99AB !default;
$grey-100: #F5F7FA !default;
$grey-200: #EBEFF5 !default;
$grey-300: #DDE3ED !default;
$grey-400: #C8D1E0 !default;
$grey-500: #AFBACC !default;
$grey-600: #707A8A !default;
$grey-700: #58606E !default;
$grey-800: #434A54 !default;
$grey-900: #333840 !default;

$primary: #FF7900 !default;
$primary-100: #FFEFE2 !default;
$primary-200: #FFDFC3 !default;
$primary-300: #FFCCA0 !default;
$primary-400: #FFB677 !default;
$primary-500: #FF9B44 !default;
$primary-600: #E66B00 !default;
$primary-700: #CA5E00 !default;
$primary-800: #A74E00 !default;
$primary-900: #783800 !default;

$secondary: #0482C5 !default;
$secondary-100: #E4F1F8 !default;
$secondary-200: #C6E3F1 !default;
$secondary-300: #A4D2EA !default;
$secondary-400: #7CBFE0 !default;
$secondary-500: #4AA7D5 !default;
$secondary-600: #0378B1 !default;
$secondary-700: #03689B !default;
$secondary-800: #025680 !default;
$secondary-900: #013D5B !default;

$success: #3EC543 !default;
$success-100: #E3F8EA !default;
$success-200: #C5F1D4 !default;
$success-300: #A3E9BA !default;
$success-400: #7BE09C !default;
$success-500: #48D477 !default;
$success-600: #37B23D !default;
$success-700: #2F9C36 !default;
$success-800: #25802C !default;
$success-900: #185D20 !default;

$danger: #C50424 !default;
$danger-100: #FAEAEC !default;
$danger-200: #F4D2D8 !default;
$danger-300: #EEB7C0 !default;
$danger-400: #E695A3 !default;
$danger-500: #DC687B !default;
$danger-600: #B20320 !default;
$danger-700: #9C031C !default;
$danger-800: #810217 !default;
$danger-900: #5D0111 !default;

$colors: (
    light: (
        light: $grey-100,
        shade: $grey-300,
        tint: $grey-200
    ),
    dark: (
        dark: $grey-700,
        shade: $grey-900,
        tint: $grey-600
    ),
    primary: (
        primary: $primary,
        shade: $primary-700,
        tint: $primary-500
    ),
    secondary: (
        secondary: $secondary,
        shade: $secondary-700,
        tint: $secondary-500
    ),
    success: (
        success: $success,
        shade: $success-700,
        tint: $success-500
    ),
    danger: (
        danger: $danger,
        shade: $danger-700,
        tint: $danger-500
    )
);

/// Borders
$border-color: $grey-400 !default;
$border-radius: 4px !default;

/// Typography
$font-family-primary: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$font-family-secondary: $font-family-primary !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;

$font-size: 16px !default;
$font-size-small: 15px !default;
$font-size-script: 14px !default;

$font-size-heading: (
    1: 40px,
    2: 32px,
    3: 26px,
    4: 22px,
    5: 18px,
    6: 16px
);

$strong-font-weight: $font-weight-bold !default;

$text-color: $grey-700 !default;

$link-color: $secondary-600 !default;
$link-color-hover: $secondary-700 !default;

/// Grid
$grid-gap: 16px !default;

$grid-sm: 769px !default;
$grid-md: 960px !default;
$grid-lg: 1152px !default;
$grid-xl: 1344px !default;

$grid: (
    sm: $grid-sm,
    md: $grid-md,
    lg: $grid-lg,
    xl: $grid-xl
);

/// Spacing
$spacing: (
    1: 8px,
    2: 12px,
    3: 16px,
    4: 24px,
    5: 32px,
    6: 40px,
    7: 48px,
    8: 56px,
    9: 64px
);

/// Transition
$transition-duration: 0.3s;
